body {
    margin: 0;
    background-color: black;    
    color: white;    
}

.logo-image {
    height: 200px;  
}

.navbar {
    display: flex;
    height: 60px;
    flex-direction: row;    
    justify-content: space-between;
    border: 2px solid red; /* keep if debugging layout */
    padding-right: 10px;        
}

.navbar-left {
    padding-left: 20px;    
}

.navbar-right {
    padding-right: 20px;    
}

.a-element {
    padding-right: 10px;
    margin: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bold;    
    color: white;
}

.home {
    display: flex;
    padding: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 85vh;
    border: 2px solid red; /* keep if debugging layout */
}

.home-left {
    width: 50vw;
    text-align: right;
    padding-left: 200px;
}

.home-right {
    width: 50vw;
    padding-left: 100px;
}

.home-h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.home-p {
    font-family: 'Encode Sans', sans-serif;
    font-size: 20px;
}

.projects {
    padding: 50px;
}

.projects-h1 {
    font-family: 'Ubuntu', sans-serif;
    color: green;
    letter-spacing: 2px;    
    font-size: 50px;
    font-style: italic;
}

.projects-sub-container {
    display: flex;
    flex-direction: row;    
}

.projects-card {
    border: 2px solid green;
    margin: 20px;
    padding: 20px;
    width: 400px;
}

.p-h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.p-p1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}