. {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: border-box;
}

body {
    font-family: 'segoe ui', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    /*margin: 0;
    padding: 0;
    background-color: black;    
    color: white;    */
}

header {
    background-color: #35424a;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav {
    margin-top: 10px;
    display: flex;;
    justify-content: space-between;
}


.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;    
    gap: 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
}

#home::checkmark
    background-color: #e0ab9d;  /*background: url('hero-bg.jpg') no-repeat center center/cover;*/
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
}

#home button {
    padding: 10px 20px;    
    background-color: #e8491d;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

/*
a:hover {
    text-decoration: underline;
}*/


/*
.navbar {    
    height: 60px;
    padding-top: 10px;        
    display: flex;
    flex-direction: row;    
    justify-content: space-between;    
    background-color: black;
    align-items: center;
}
.navbar-left {
    padding-left: 20px; 
    width: 100px;
    height: auto;       
}
.navbar-right {
    padding-right: 20px;    
    display: flex;
    flex-direction: row;   
}
.logo-image {
    height: 60px;  
    width: auto;    
    padding: 0 5rem;
}
.a-element {
    padding-right: 10px;
    margin: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bold;    
    color: white;
}
.home {
    display: flex;
    padding: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    border: 2px solid red; 
}
.home-left {
    width: 200vw;
    text-align: right;
    padding-left: 50px;
}
.home-right {
    width: 50vw;
    padding-left: 100px;    
}
.home-h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}
.home-p {
    font-family: 'Encode Sans', sans-serif;
    font-size: 20px;
}
.projects {
    padding: 50px;
}
.projects-h1 {
    font-family: 'Ubuntu', sans-serif;
    color: green;
    letter-spacing: 2px;    
    font-size: 50px;
    font-style: italic;
}
.projects-sub-container {
    display: flex;
    flex-direction: row;    
}
.projects-card {
    border: 2px solid green;
    margin: 20px;
    padding: 20px;
    width: 400px;
}
.p-h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}
.p-p1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.contact {
    text-align: center;
}
.contact-info {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}
.social-icon-img {
    height: 30px;
    width: auto;
    padding: 10px;
}*/
