body {
    margin: 0;
    background-color: black;    
    color: white;
    font-family: 'Inter', sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    border: 2px solid red; 
}

.logo-image {
    height: 100px;
    /*height: auto;
    max-height: 200px;
    width: auto;*/
}

.navbar-left {
    padding-left: 20px;  
    /*height: 50px;
    border: 2px solid red; */
}

.navbar-right {
    padding-right: 20px;
    /*display: flex;
    flex-direction: row;
    align-items: center;*/
}

.a-element {
    padding: 10px;
    margin: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid red;    
}

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*min-height: 80vh; fills most of the screen. height: 85px; */
    height: 85vh;
    /*padding: 40px;*/
    border: 2px solid red; /* keep if debugging layout */
}

.home-left {
    width: 50vw;
    text-align: right;
    padding-left: 200px;
}

.home-right {
    width: 50vw;
    padding-left: 100px;
}