body {
    margin: 0;
    background-color: black;    
    color: white;    
}

.logo-image {
    height: 60px;  
    width: auto;    
}

.navbar {    
    height: 60px;
    padding-top: 10px;        
    display: flex;
    flex-direction: row;    
    justify-content: space-between;    
    background-color: black;
    align-items: center;
}

.navbar-left {
    padding-left: 20px; 
    width: 100px;
    height: auto;       
}

.navbar-right {
    padding-right: 20px;    
    display: flex;
    flex-direction: row;   
}

.a-element {
    padding-right: 10px;
    margin: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bold;    
    color: white;
}

.home {
    display: flex;
    padding: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    border: 2px solid red; /* keep if debugging layout */
}

.home-left {
    width: 200vw;
    text-align: right;
    padding-left: 50px;
}

.home-right {
    width: 50vw;
    padding-left: 100px;    
}

.home-h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.home-p {
    font-family: 'Encode Sans', sans-serif;
    font-size: 20px;
}

.projects {
    padding: 50px;
}

.projects-h1 {
    font-family: 'Ubuntu', sans-serif;
    color: green;
    letter-spacing: 2px;    
    font-size: 50px;
    font-style: italic;
}

.projects-sub-container {
    display: flex;
    flex-direction: row;    
}

.projects-card {
    border: 2px solid green;
    margin: 20px;
    padding: 20px;
    width: 400px;
}

.p-h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.p-p1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.contact {
    text-align: center;
}

.contact-info {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.social-icon-img {
    height: 30px;
    width: auto;
    padding: 10px;
}