body {
    margin: 0;
    background-color: black;    
    color: white;    
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;    
}

.logo-image {
    height: 200px;  
}

.navbar-left {
    padding-left: 20px;    
}

.navbar-right {
    padding-right: 20px;    
}

.a-element {
    padding: 10px;
    margin: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid red;    
}

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 85vh;
    border: 2px solid red; /* keep if debugging layout */
}

.home-left {
    width: 50vw;
    text-align: right;
    padding-left: 200px;
}

.home-right {
    width: 50vw;
    padding-left: 100px;
}

.home-h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.home-p {
    font-family: 'Encode Sans', sans-serif;
    font-size: 20px;
}
